<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tech Shop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Hola esta es la tienda de Samuel Sandoval</h1>
        </header>
        <section>
            <h2>Está en la tienda del curso</h2>
            
        </section>
        <footer>
            Este es el footer
        </footer>
    </body>
</html>
